@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap");

:root {
    --dark-gray: #24232c;
    --light-gray: #817d92;
    --half-white: #e6e5ea;
    --dark-black: #18171f;
    --green: #a4ffaf;
    --dark-orange: #f64a4a;
    --light-orange: #fb7c58;
    --light-yellow: #f8cd65;
    --svg-default-color: #817d92; 
    --svg-hover-color: #e6e5ea; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "JetBrainsMono";
    background: linear-gradient(180deg, #14131b 0%, #08070b 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    margin: 0 auto;
    max-width: 640px;
    width: 100%;
    padding: 0 4rem;
}

h1 {
    font-size: 2.5rem;
    text-align: center;
    font-weight: 700;
    color: var(--light-gray);
    margin-bottom: 3rem;
}

.password_field {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 8rem;
    padding: 0 3.2rem;
    margin-bottom: 2.4rem;
    background-color: var(--dark-gray);
}

.password_display {
    font-size: 3.2rem;
    color: var(--half-white);
}

/* .password_placeholder {
    font-size: 3.2rem;
    color: var(--half-white);
} */

.copy_password {
    display: flex;
    align-items: center;
    gap: 1.6rem;

}
.copy_text {
    display: flex;
    align-items: center;
    font-size: 22px;
    color: #8577C0;
    text-transform: uppercase;
    
}
.copy_btn {
    outline: none;
    border: none;
    display: flex;
    background: none;
    width: 35px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}
.copy_icon {
    width: 35px;
    height: 35px;
    fill: var(--light-gray);
    transition: all 0.3s ease;
}
.copy_btn:hover .copy_icon {
    filter: contrast(3.5);
}
